@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
*{
    box-sizing: border-box;
    font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "HEXP" 0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/banner-shap-2.png');
}
.heading {
    font-weight: 800;
    color: #50623A;
    font-size: 50px;
    
}
.heading p {
    margin-top: 0;
    margin-bottom: 0;
}
.para {
    width: 40%;
    font-weight: 200;
}
.companyLogo {
    width: 200px;
    
}
.companyLogo img {
    width: 100%;
    height: 100%;
}
  
  /* Adjustments for tablets (up to 768px) */
  @media (max-width: 768px) {
    .companyLogo img {
      width: 200px;
    }
  
    .heading p {
      font-size: 30px;
    }
  }
  
  /* Adjustments for mobile devices (up to 576px) */
  @media (max-width: 576px) {
    .companyLogo img {
      width: 200px;
    }
  
   .copyright {
    width: 100%;
    display: flex;
    align-items: center;
   }
   .copyright p{
    width: 100%;
    text-align: center;
   }
  }
  